@font-face {
    font-family: 'SansLight';
    src: url('/../media/fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'SansRegular';
    src: url('/../media/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SansBold';
    src: url('/../media/fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'SansSemibold';
    src: url('/../media/fonts/OpenSans-Semibold.ttf') format('truetype');
}

@font-face {
    font-family: 'SansExtraBold';
    src: url('/../media/fonts/OpenSans-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('/../media/fonts/RobotoSlab-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "icon";
    src: url("../media/fonts/icon.eot");
    src: url("../media/fonts/icon.eot#iefix") format("embedded-opentype"), url("../media/fonts/icon.woff") format("woff"), url("../media/fonts/icon.ttf") format("truetype"), url("../media/fonts/icon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}