<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.reset.password.title}">Password Reset</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{email.reset.password.greeting(${user.username})}">
    User
</p>
<p th:text="#{email.reset.password.text}">
    A password reset request was initiated for your JNerd account, please click on the URL below to proceed:
</p>
<p>
    <a th:href="@{|${baseUrl}#/reset/${user.passwordResetKey}|}"
       th:text="|${user.username}|">Password Reset Link</a>
</p>
<p>
    <span th:text="#{email.reset.password.presignature}">Regards, </span>
    <br/>
    <em th:text="#{email.signature}">JNerd.</em>
</p>
</body>
</html>
