<div flex layout="column">
    <section md-whiteframe="z1" style="max-width: 800px">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 class="md-flex" translate="reset.password.title">Reset Password</h2>
            </div>
        </md-toolbar>
        <md-content flex layout-padding>
            <form name="passwordResetForm" ng-submit="$ctrl.resetPassword()">
                <div ng-messages="passwordResetForm.$error">
                    <div ng-message="unknown" class="text-error" translate="global.error.unknown">An unknown error has occurred.</div>
                    <div ng-message="invalidKey" class="text-error" translate="reset.password..error.invalidkey">Password reset key is invalid. Please reset your password again.</div>
                </div>
                <div ng-if="$ctrl.passwordResetCompleted" class="text-success" translate="reset.password.success">
                    Password reset has completed successfully.
                </div>
                <md-input-container class="md-block" flex-gt-xs>
                    <label translate="reset.password.label.password">Password</label>
                    <input type="password" name="password" ng-model="$ctrl.password" />
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs>
                    <label translate="reset.password.label.password.retype">Retype Password</label>
                    <input type="password" name="passwordVerify" ng-model="$ctrl.passwordVerify" />
                    <div ng-messages="passwordResetForm.passwordVerify.$error" role="alert">
                        <div ng-message="match" translate="reset.password.error.passwordmatch">The password fields do not match.</div>
                    </div>
                </md-input-container>
                <md-button class="md-raised md-primary" type="submit" translate="global.submit">Submit</md-button>
            </form>
        </md-content>
    </section>
</div>
