{
  "extends": "airbnb/base",
  "parser": "babel-eslint",
  "rules": {
    "id-length": 0,
    "indent": [2, 4, {"SwitchCase": 1}],
    "no-console": 1,
    'no-return-assign': 0,
    "no-use-before-define": 0
  }
}
