<h1>Reset Password</h1>
<form [ngFormModel]="resetPasswordForm" (ngSubmit)="resetPassword()">
    <div *ngIf="!resetPasswordForm.valid">
        <p *ngIf="resetPasswordForm.errors && resetPasswordForm.errors.unknown">An unknown error has occurred.</p>
        <p *ngIf="resetPasswordForm.errors && resetPasswordForm.errors.invalidKey">Password reset key is invalid. Please reset your password again.</p>
    </div>
    <div *ngIf="success">Reset password has completed successfully.</div>
    <div ngControlGroup="passwords">
        <div *ngIf="!resetPasswordForm.controls.passwords.valid && password.touched && retypePassword.touched">
            <p *ngIf="resetPasswordForm.controls.passwords.errors && resetPasswordForm.controls.passwords.errors.matchingFields">Password fields do not match.</p>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" ngControl="password" />
            <div *ngIf="!password.valid && password.touched">
                <p *ngIf="password.errors.required">Password is required.</p>
            </div>
        </div>
        <div>
            <label for="password">Retype Password</label>
            <input type="password" ngControl="retypePassword" />
        </div>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
